.fylo__navbar {
  padding: 4rem;
  max-width: 100%;
  @include flex(center, space-between, row, 2rem);

  @include respond(phone) {
    padding: 2rem;
  }

  &-logo {
    max-width: 100%;
    cursor: pointer;

    &-img {
      display: inline-block;
      width: 10rem;
      @include respond(phone) {
        width: 5rem;
      }
    }
  }

  &-items {
    @include flex(center, center, row, 2rem);
  }
  &-item {
    font-family: $font-primary-heading;
    font-weight: 400;
    color: $nav-item-color;
    font-size: clamp(0.6rem, 1vw + 0.5rem, 1rem);
  }
  &-link {
    &:visited,
    &:link {
      font-family: inherit;
      font-weight: inherit;
      font-size: inherit;
      color: inherit;
    }
    &:hover {
      text-decoration: underline;
      color: $white;
    }
  }
}
