.fylo_nav {
  width: 100%;
  padding: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: $navy-900;

  &_logo-box img {
    max-width: 100%;
    display: block;
  }
  &-items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  &-item {
    list-style: none;
    font-size: inherit;
    font-weight: inherit;
    &-link {
      font-size: 1rem;
      font-weight: 400;
      text-decoration: none;
      color: $white;
      white-space: nowrap;
    }
  }
}
@media (max-width: 800px) {
  .fylo_nav {
    padding: 3rem;
    gap: 4rem;
    &-item {
      &-link {
        font-size: 0.9rem;
      }
    }
  }
}
