//  media queries

// breakpoints :
// phone :600px
//  tab-port : 900px
// tab-land :1200px
// bigDesk : 1800px

// 1em = 16px
@mixin respond($breakPoint) {
  @if $breakPoint == phone {
    // 600px
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakPoint == tab-port {
    // 900px
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakPoint == tab-land {
    // 1200px
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakPoint == bigDesk {
    // 1800px
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
// Usage: @include flex(align-items, justify-content, flex-direction, gap);
@mixin flex($align: center, $justify: center, $direction: row, $gap: 0) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  gap: $gap;
}
// Usage: @include text-style(font-size, font-weight, line-height, color);
@mixin text-style(
  $font-size: 0.7rem,
  $font-weight: 200,
  $line-height: 1.7,
  $color: $footer-text
) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}
