/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
/*  COLORS */

:root {
  --bg-about: #4abebd;
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --white: #fff;
}
/* GLOBAL REST */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Karla', sans-serif;
  background-color: var(--light-gray);
}
main {
  max-width: 65rem;
  width: 90vw;
  margin: 0 auto;
  margin-top: 10rem;
  background-color: var(--white);
}
.price__card {
  text-align: left;
  padding: 4rem;
}
.price__card-primary-heading {
  font-size: 2rem;
  color: var(--cyan);
  font-weight: 700;
}
.price__card-primary-text {
  font-size: 1.6rem;
  color: var(--bright-yellow);
  font-weight: 700;
}
.price__card-text {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  font-weight: 500;
  color: var(--grayish-blue);
}
.subscription {
  background-color: var(--cyan);
  padding: 4rem;
}
.subscription__heading {
  color: var(--light-gray);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
}
.subscription__heading-value {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}
.subscription__heading-price {
  font-size: 3rem;
  color: var(--white);
  font-weight: 600;
}
.subscription__heading-monthly {
  font-size: 1.2rem;
  color: var(--light-gray);
  font-weight: 400;
}
.subscription__text {
  font-size: 1.2rem;
  color: var(--light-gray);
  line-height: 1.5;
  letter-spacing: 0.1rem;
  font-weight: 400;
}
.subscription-btn {
  width: 100%;
  display: inline-block;
  border: none;
  padding: 1.4rem 2rem;
  background-color: var(--bright-yellow);
  cursor: pointer;
  color: var(--white);
  font-weight: 600;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
  text-transform: capitalize;
}
.about {
  background-color: var(--bg-about);
  padding: 4rem;
}
.about__heading {
  color: var(--light-gray);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
}
.about__text {
  list-style: none;
}
.about__text li {
  color: #e0ebf2;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 0.2rem;
}
.about__text li:last-child {
  padding-bottom: 0;
}

/* HELPER CLASSES */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.margin-bottom-xs-small {
  margin-bottom: 1rem;
}
.margin-bottom-small {
  margin-bottom: 2rem;
}
@media (max-width: 780px) {
  main {
    margin-top: 5rem;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
