$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$black: #000;
$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);
$white: #fff;
$btn-color: #c7f9e3;
$box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.4);
$color-grey-1: #666;
$color-grey-2: #878789;
